{% extends 'boat_census/base.html' %}
{% block title %}
    <title>
            All Vessels
    </title>
{% endblock %}
    
{% block main %}
    <h1>All Vessels</h1>
    
        {% if vessels %}
        <table class="table table-striped table-middle-aligned">
            <thead>
                <tr>
                    <th scope="col">Vessel Name</th>
                    <th scope="col">Vessel No</th>
                    <th scope="col">Length</th>
                    <th scope="col">Width</th>
                    <th scope="col">L/Jackets</th>
                    <th scope="col">P/Capacity</th>
                    <th class="text-center" scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for vessel in vessels %}
                <tr>
                    <td>{{ vessel.vessel_name }}</td>
                    <td>{{ vessel.vessel_number}}</td>
                    <td>{{ vessel.length }}</td>
                    <td>{{ vessel.width }}</td>
                    <td>{{ vessel.life_jackets }}</td>
                    <td>{{ vessel.passenger_capacity }}</td>
                    <td>
                        <div class="text-right">
                            <a class="btn btn-sm btn-primary">Edit</a>
                            <a class="btn btn-sm btn-danger">Delete</a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p><i>There are no vessels yet</i></p>
            
        {% endif %}
            
    
    
{% endblock %}
{% block sidebar %}
    <div class="section">
        <div class="well well-lg">
            To add vessels, you must select an owner to assign vessels to. Click the owner's link to see the owners or to add a new owner
        </div>
    </div>    
    <div class="section actions">
            <a class="btn btn-lg btn-block btn-default" href="{% url 'boat_census:owners' %}">Owners</a>
    </div>
{% endblock %}






